*{ 
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand {
    font-size: 25px;
    }
.navbar{
    background-color: #977554;
    }
.container a {
        color: whitesmoke   ;
    }
.main h3 {
        color: whitesmoke   ;
    }
.navbar-nav{
    text-align :center;
    }
.carousel-caption{
    bottom: 25px;
    }
.carousel-caption h5{
    font-size: 17px;
    }   
.carousel-caption a{
    padding: 10px 15px;
    }
.carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
    }
.img-fluids{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    }
.about-text h2{
    text-align: center;

    }
.card{
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 50px;
    }
    .title{
        text-align: center;
    }
    .link{
        float: right;
        text-decoration-line: none;
        color: darkgrey;
    }
      /*  */
.py-5{
    background-color:  #964B00;
    
}
<<<<<<< HEAD
.about{
    padding-top: 100px;
}
=======

.about{
    padding-top: 100px;
}

>>>>>>> 6043b0dd0d93ffcc4fb75cd1e6e1068f3da1bae4
.menucon{
    padding-top: 100px;
    text-align: center;
    color: #93673b;
}
.collapse a:hover{
    color: red

}
.collapse ul li a::after{
content: '';
width: 0%;
height: 2px;
background-color: brown;
display: block;
margin: auto;
margin-top: 2px;
}
.collapse ul li a:hover::after{
width: 20%;
}
.w-100{
    height: 100vh;
}
.text{
    color: white;
}
.body{
    background-color: #b79569;
}
.card{
    height: 85%;
    width: 85%;
    background-color: #977554;
}
 a:hover {
         color: #E5D3B3;
      }
      
.collapse ul li a:hover::after{
        width: 20%;
        height: 2px;
    }
<<<<<<< HEAD
   

.text

=======
>>>>>>> 6043b0dd0d93ffcc4fb75cd1e6e1068f3da1bae4
.aboutimg{
    width: auto;
}
.img1{
    height: 10%;
    width: 100%;
}
.imgcard{
    height: 80%;
}
.card{
    height: 80%;
    width: 90%;
    background-color: #977554;
}
.containers{
    height: auto;
    width: auto;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
     .carousel-caption{
        bottom: 37px;
    }
    .carousel-caption p{
        width: 100%;
    }
    a:hover {
        color: brown;
      }
      
    .collapse ul li a:hover::after{
        width: 60px;
        height: 2px;
    }
    .imgcard{
        height: 80%;
        object-fit: cover ;
        border-radius: 5px;
    }
    .containers{
        height: auto;
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 20px;
    }
    
    .card{
        height: 80%;
        background-color: #977554;
    }
    
}
@media only screen and (min-width: 992px){
    /* .logo{
        position: fixed;
        border: solid;
    border:2px solid black;
    }
     .body{
        background-color: transparent !important;
    }  */
    .navbar-nav a{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500px;
    }

    a:hover {
        color: #E5D3B3;
      }
      
    .collapse ul li a:hover::after{
        width: 100%;
        height: 2px;
    }
    .imgcard{
        height: 80%;
        object-fit: cover ;
        border-radius: 5px;
    }
    .containers{
        height: auto;
        width: auto;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 20px;
    }
    
    .card{
        height: 80%;
        background-color: #977554;
    }
    .row{
        height: 590px;
    }
    .body{
        background-color: #b79569;
    }
}